<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}assets/new_ci_logo.png" class="logo"/></a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="{{site.data.global.url}}/">Home</a></li>
            <li><a href="/html-css">HTML &amp; CSS</a></li>
            <li><a href="/scratch">Scratch</a></li>
            <li><a href="/javascript">JavaScript</a></li>
            <li><a href="/python">Python</a></li>
            <li><a href="/git">Git &amp; Github</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
