<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Full Stack Web Developer Stream Zero by Code-Institute-Org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.data.global.url }}Full-Stack-Web-Developer-Stream-0/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.data.global.url }}Full-Stack-Web-Developer-Stream-0/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.data.global.url }}Full-Stack-Web-Developer-Stream-0/stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Full Stack Web Developer Stream Zero</h1>
      <h2 class="project-tagline">Get the fundamental skills in place before taking our Full Stack Web Developer Course via  Mentored Online or the Classroom programmes</h2>
      <a href="https://github.com/Code-Institute-Org/Full-Stack-Web-Developer-Stream-0" class="btn">View on GitHub</a>
    </section>

    <section class="main-content">