<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}"><img src="{{ site.data.global.url }}assets/new_ci_logo.png" class="logo"/></a></h1>
  <nav id="nav-mobile">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="{{site.data.global.url}}">Home</a></li>
            <li><a href="{{site.data.global.url}}html-css">HTML &amp; CSS</a></li>
            <li><a href="{{site.data.global.url}}scratch">Scratch</a></li>
            <li><a href="{{site.data.global.url}}javascript">JavaScript</a></li>
            <li><a href="{{site.data.global.url}}python">Python</a></li>
            <li><a href="{{site.data.global.url}}git">Git &amp; Github</a></li>
            <li><a href="{{site.data.global.url}}quiz">Quiz</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <nav id="nav">
    <ul>
      <li><a href="{{site.data.global.url}}">Home</a></li>
      <li><a href="{{site.data.global.url}}html-css">HTML &amp; CSS</a></li>
      <li><a href="{{site.data.global.url}}scratch">Scratch</a></li>
      <li><a href="{{site.data.global.url}}javascript">JavaScript</a></li>
      <li><a href="{{site.data.global.url}}python">Python</a></li>
      <li><a href="{{site.data.global.url}}git">Git &amp; Github</a></li>
      <li><a href="{{site.data.global.url}}quiz">Quiz</a></li>
    </ul>
  </nav>
</header>
